<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Rilievi & Perizie</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="logo-container ion-text-center">
    <img src="assets/logo.png" alt="Logo" width="150">
    <h1>Rilievi & Perizie</h1>
    <p>Accedi per iniziare</p>
  </div>

  <form [formGroup]="loginForm" (ngSubmit)="login()">
    <ion-item>
      <ion-label position="floating">Username</ion-label>
      <ion-input type="text" formControlName="username" required></ion-input>
    </ion-item>
    
    <div class="ion-padding-start" *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched">
      <ion-text color="danger">Username richiesto</ion-text>
    </div>

    <ion-item>
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    
    <div class="ion-padding-start" *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched">
      <ion-text color="danger">Password richiesta</ion-text>
    </div>

    <div class="ion-padding-top">
      <ion-button type="submit" expand="block" [disabled]="loginForm.invalid || isLoading">
        <ion-spinner name="dots" *ngIf="isLoading"></ion-spinner>
        <span *ngIf="!isLoading">Accedi</span>
      </ion-button>
    </div>
  </form>
</ion-content>